<div class="accordion-group">
  <div class="accordion-heading">
    <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#{{parent}}" data-target="#{{id}}">
      {{title}}
    </h4>
  </div>
  <div id="{{id}}" class="accordion-body collapse">
    <div class="accordion-inner">
      {{content}}
    </div>
  </div>
</div>
