<div id="delete-{{name}}-region-modal" class="modal hide fade" tabindex="-1" role="dialog"
  aria-labelledby="delete-{{name}}-region-modal-header" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="delete-{{name}}-region-modal-header">Delete a {{label}}</h3>
  </div>
  <div class="modal-body">
    {{#if regions}}
      <form class="form-inline">
        <select class="input-large region-cid">
          {{#each regions}}
            <option value="{{cid}}">{{slug}}</option>
          {{/each}}
        </select>
        <button type="submit" class="btn btn-primary" aria-hidden="true">Delete</button>
      </form>
    {{else}}
    <p>No {{name}} to delete.</p>
    {{/if}}
  </div>
</div>
