<div id="{{name}}-region-form-modal" class="modal hide fade" tabindex="-1"
  role="dialog" aria-labelledby="{{name}}-region-form-modal-header" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="{{name}}-region-form-modal-header">New {{label}}</h3>
  </div>
  <div class="modal-body">
    <form class="form-inline">
      <input type="text" class="input-large slug" placeholder="{{label}} Name" value="">
      <button type="submit" class="btn btn-primary" aria-hidden="true">Create {{label}}</button>
    </form>
  </div>
</div>
