<div class="accordion" id="visual-style">
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="accordion-toggle" data-toggle="collapse"
        data-parent="#visual-style" data-target="#style-typography">
        Typography
      </h4>
    </div>
    <div id="style-typography" class="accordion-body collapse">
      <div class="accordion-inner">

        <div class="controls-group">
          <label for="visual-font-family">Font family</label>
          <div class="controls">
            <select id="visual-font-family" name="font-family" class="input-medium">
              <option{{selected fontFamily "Arial, Helvetica, sans-serif"}}
                value='Arial, Helvetica, sans-serif'>Arial</option>
              <option{{selected fontFamily "'Arial Black', Gadget, sans-serif"}}
                value='"Arial Black", Gadget, sans-serif'>Arial Black</option>
              <option{{selected fontFamily "'Comic Sans MS', cursive, sans-serif"}}
                value='"Comic Sans MS", cursive, sans-serif'>Comic Sans MS</option>
              <option{{selected fontFamily "'Courier New', Courier, monospace"}}
                value='"Courier New", Courier, monospace'>Courier New</option>
              <option{{selected fontFamily "Georgia, serif"}}
                value='Georgia, serif'>Georgia</option>
              <option{{selected fontFamily "'Helvetica Neue', Helvetica, Arial, sans-serif"}}
                value='"Helvetica Neue", Helvetica, Arial, sans-serif'>Helvetica Neue</option>
              <option{{selected fontFamily "Impact, Charcoal, sans-serif"}}
                value='Impact, Charcoal, sans-serif'>Impact</option>
              <option{{selected fontFamily "'Lucida Console', Monaco, monospace"}}
                value='"Lucida Console", Monaco, monospace'>Lucida Console</option>
              <option{{selected fontFamily "'Lucida Sans Unicode', 'Lucida Grande', sans-serif"}}
                value='"Lucida Sans Unicode", "Lucida Grande", sans-serif'>Lucida Sans Unicode</option>
              <option{{selected fontFamily "'Palatino Linotype', 'Book Antiqua', Palatino, serif"}}
                value='"Palatino Linotype", "Book Antiqua", Palatino, serif'>Palatino Linotype</option>
              <option{{selected fontFamily "Verdana, Geneva, sans-serif"}}
                value='Verdana, Geneva, sans-serif'>Verdana</option>
              <option{{selected fontFamily "Tahoma, Geneva, sans-serif"}}
                value='Tahoma, Geneva, sans-serif'>Tahoma</option>
              <option{{selected fontFamily "'Times New Roman', Times, serif"}}
                value='"Times New Roman", Times, serif'>Times New Roman</option>
              <option{{selected fontFamily "'Trebuchet MS', Helvetica, sans-serif"}}
                value='"Trebuchet MS", Helvetica, sans-serif'>Trebuchet MS</option>
            </select>
          </div>
        </div>

        <div class="controls-group">
          <label for="visual-font-size">Font size</label>
          <div class="controls">
            <input type="text" id="visual-font-size" name="font-size" class="input-mini" value="{{fontSize}}" />
          </div>
        </div>

        <div class="controls-group">
          <label for="visual-font-weight">Font weight</label>
          <div class="controls">
            <select id="visual-font-weight" name="font-weight" class="input-medium">
              <option{{selected fontWeight "normal"}} value="normal">normal</option>
              <option{{selected fontWeight "bold"}} value="bold">bold</option>
              <option{{selected fontWeight "100"}} value="100">100</option>
              <option{{selected fontWeight "200"}} value="200">200</option>
              <option{{selected fontWeight "300"}} value="300">300</option>
              <option{{selected fontWeight "400"}} value="400">400</option>
              <option{{selected fontWeight "500"}} value="500">500</option>
              <option{{selected fontWeight "600"}} value="600">600</option>
              <option{{selected fontWeight "700"}} value="700">700</option>
              <option{{selected fontWeight "800"}} value="800">800</option>
              <option{{selected fontWeight "900"}} value="900">900</option>
            </select>
          </div>
        </div>

        <div class="controls-group">
          <label for="visual-font-style">Font style</label>
          <div class="controls">
            <select id="visual-font-style" name="font-style" class="input-medium">
              <option{{selected fontStyle "normal"}} value="normal">normal</option>
              <option{{selected fontStyle "italic"}} value="italic">italic</option>
              <option{{selected fontStyle "oblique"}} value="oblique">oblique</option>
            </select>
          </div>
        </div>

        <div class="controls-group">
          <label for="visual-line-height">Line height</label>
          <div class="controls">
            <input type="text" id="visual-line-height" name="line-height" class="input-mini" value="{{lineHeight}}" />
          </div>
        </div>

        <div class="controls-group">
          <label for="visual-text-align">Text align</label>
          <div class="controls">
            <select id="visual-text-align" name="text-align" class="input-medium">
              <option{{selected textAlign "left"}} value="left">left</option>
              <option{{selected textAlign "right"}} value="right">right</option>
              <option{{selected textAlign "center"}} value="center">center</option>
              <option{{selected textAlign "justify"}} value="justify">justify</option>
            </select>
          </div>
        </div>

        <div class="controls-group">
          <label for="visual-text-decoration">Text decoration</label>
          <div class="controls">
            <select id="visual-text-decoration" name="text-decoration" class="input-medium">
              <option{{selected textDecoration "none"}} value="none">none</option>
              <option{{selected textDecoration "line-through"}} value="line-through">line-through</option>
              <option{{selected textDecoration "overline"}} value="overline">overline</option>
              <option{{selected textDecoration "underline"}} value="underline">underline</option>
            </select>
          </div>
        </div>

        <div class="controls-group">
          <label for="visual-text-transform">Text transform</label>
          <div class="controls">
            <select id="visual-text-transform" name="text-transform" class="input-medium">
              <option{{selected textTransform "none"}} value="none">none</option>
              <option{{selected textTransform "capitalize"}} value="capitalize">capitalize</option>
              <option{{selected textTransform "lowercase"}} value="lowercase">lowercase</option>
              <option{{selected textTransform "uppercase"}} value="uppercase">uppercase</option>
            </select>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="accordion-toggle" data-toggle="collapse"
        data-parent="#visual-style" data-target="#style-color">
        Color & Background
      </h4>
    </div>
    <div id="style-color" class="accordion-body collapse">
      <div class="accordion-inner">

        <div class="controls-group">
          <label for="visual-color">Color</label>
          <div class="controls">
            <input type="text" id="visual-color" class="input-medium color"
              name="color" value="{{color}}" />
          </div>
        </div>

        <div class="controls-group">
          <label for="visual-background-color">Background color</label>
          <div class="controls">
            <input type="text" id="visual-background-color" class="input-medium color"
              name="background-color" value="{{backgroundColor}}" />
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

