<form>
  <select class="x-element">
    {{#each elements}}
    <option value="{{value}}"{{selected}}>{{label}}</option>
    {{/each}}
  </select>

  <p class="x-choice">
  {{#if selector}}
  Selected Element: <b>{{selector}}</b>
  {{else}}
  Click on an element in the design to customize it.
  {{/if}}
  </p>

  <ul class="x-rules">
    {{#each rules}}
    <li><input name="property" value="{{property}}" />: <input name="value" value="{{value}}" /></li>
    {{/each}}
  </ul>
  <button>Add custom style</button>
</form>
