<form>
  <p class="x-choice">
  Element:
  {{#if parents}}
  {{#each parents}}
  {{#if id}}
  <a href="#" data-el="#{{id}}">#{{id}}</a> &gt;
  {{else}}
  <a href="#" data-el="{{localName}}">{{localName}}</a> &gt;
  {{/if}}
  {{/each}}
  {{/if}}
  <b>{{selector}}</b>
  </p>

  <select class="x-tag">
    <option value="">Every Tag</option>
    {{#each htmlTags}}
    <optgroup label="{{group}}">
      {{#each tags}}
      <option value="{{tag}}"{{selected}}>{{label}} ({{tag}})</option>
      {{/each}}
    </optgroup>
    {{/each}}
  </select>

  {{#each declarations}}
  <div>
    <p class="x-selector">
      <input value="{{selector}}" placeholder="selector" />&nbsp; {
    </p>
    <ul class="x-rules">
      {{#each rules}}
      <li>
        <input name="property" value="{{property}}" />:
        <input name="value" value="{{value}}" />
        <input type="hidden" name="index" value="{{index}}" />
        <input type="hidden" name="selector" value="{{../selector}}" />
      </li>
      {{/each}}
    </ul>
    <button class="btn btn-mini add-rule">Add rule</button>
    <p>}</p>
  </div>
  {{/each}}
  <button class="btn add-declaration">Add declaration</button>
</form>
