<form>
  <p class="x-choice">
  {{#if selector}}
  Element: <b>{{selector}}</b>
  {{else}}
  Click on an element in the design to customize it.
  {{/if}}
  </p>

  <select class="x-tag">
    <option value="">Every Tag</option>
    {{#each htmlTags}}
    <optgroup label="{{group}}">
      {{#each tags}}
      <option value="{{tag}}"{{selected}}>{{label}} ({{tag}})</option>
      {{/each}}
    </optgroup>
    {{/each}}
  </select>

  <ul class="x-rules">
    {{#each rules}}
    <li>
      <input name="property" value="{{property}}" />:
      <input name="value" value="{{value}}" />
      <input type="hidden" name="index" value="{{index}}" />
    </li>
    {{/each}}
  </ul>
  <button>Add custom style</button>
</form>
